@import 'tailwindcss';

@theme {
  --color-white: #FFFFFF;

  --color-gray-100: #E1E1E6;
  --color-gray-200: #C4C4CC;
  --color-gray-700: #202024;
  --color-gray-900: #121214;

  --color-green-100: #00B37E;
  --color-green-300: #00875F;
  }

  